button.see-more {
    @apply py-3;
    @apply px-6;
    border: 1px solid #AFAFAF;
    @apply rounded;
    background-image: linear-gradient(262.85deg, rgba(191, 210, 234, 0.051) 0%, rgba(248, 248, 248, 0.01) 100%);
}
button.see-more:hover {
    background-image: linear-gradient(262.85deg, rgba(191, 210, 234, 0.1) 0%, rgba(248, 248, 248, 0.1) 100%);
}

#creations {
    position: relative;
}

#creations:after {
    content: url('@/assets/images/radial-min.png');
    display: block;
    position: absolute;
    top: -100px;
    left: -30%;
    width: 600px;
    opacity: 1;
    min-height: 500px;
    z-index: -1;
}
#creations:before {
    content:'';
    z-index: -1;
    position: absolute;
    left: -350px;
    top: 50px;
    display: block;
    min-height: 550px;
    width: 700px;
    border-radius: 100%;
    border: 1px solid rgba(86, 136, 199, 0.4);
    transform: rotate(45deg);
}
