#hero {
    min-height: 80vh;
    position: relative;
}
.mouse {
    min-height: 10vh;
}

/*
.background-1 {
    position: absolute;
    right: -45%;
    bottom: -45%;

    min-height: 100%;
    width: 100%;
    z-index: 10;

    background:radial-gradient(circle at 50% 50%, #5688C7 0%, #1F1F1F 35%);
    z-index: -1;
    opacity: 0.25;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}*/
#hero:after {
    content:'';
    position: absolute;
    right: -200px;
    bottom: -20%;
    display: block;
    min-height: 750px;
    width: 900px;
    border-radius: 100%;
    border: 1px solid rgba(86, 136, 199, 0.4);
    transform: rotate(30deg);
    z-index: -1;
}
#hero:before {
    content:'';
    position: absolute;
    right: -200px;
    bottom: -15%;
    display: block;
    min-height: 750px;
    width: 900px;
    border-radius: 100%;
    border: 1px solid rgba(86, 136, 199, 0.4);
    transform: rotate(45deg);
}
h1 {
    z-index: 1;
}

#hero h1:after {
    content: url('@/assets/images/radial-min.png');
    display: block;
    position: absolute;
    top: -100px;
    right: -10%;
    width: 45%;
    opacity: 1;
    min-height: 100%;
    z-index: -1;
}
