#hero {
    min-height: 75vh;
    position: relative;
}
.mouse {
    min-height: 10vh;
    transition: 0.3s;
}
#hero:after {
    content:'';
    position: absolute;
    right: -200px;
    bottom: -20%;
    display: block;
    min-height: 750px;
    width: 900px;
    border-radius: 100%;
    border: 1px solid rgba(86, 136, 199, 0.4);
    transform: rotate(30deg);
    z-index: -2;
}
#hero:before {
    z-index: -2;
    content:'';
    position: absolute;
    right: -200px;
    bottom: -15%;
    display: block;
    min-height: 750px;
    width: 900px;
    border-radius: 100%;
    border: 1px solid rgba(86, 136, 199, 0.4);
    transform: rotate(45deg);
}
h1 {
    z-index: -1;
}

#hero h1:after {
    content: url('@/assets/images/radial-min.png');
    display: block;
    z-index: -1;
    position: absolute;
    top: -100px;
    right: -10%;
    width: 45%;
    opacity: 1;
    min-height: 100%;
    z-index: -1;
}
.arrow-anim {
    animation-duration: 2s;
    animation-name: bounce;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}