#about {
    background: linear-gradient(265.54deg, rgba(248, 248, 248, 0.05) 38.51%, rgba(248, 248, 248, 0) 100.41%);
    border: 1px solid rgba(175, 175, 175, 0.3);
    @apply p-8;
}
#about p {
    @apply py-4
}