#contact {
    background: linear-gradient(265.54deg, rgba(248, 248, 248, 0.05) 38.51%, rgba(248, 248, 248, 0) 100.41%);
    border: 1px solid rgba(175, 175, 175, 0.3);
    @apply rounded;
}
.social {
    border-radius: 100%;
    background: linear-gradient(221.44deg, rgba(86, 136, 199, 0.09) -7.05%, rgba(172, 196, 226, 0.087) 100%);
    border: 1px solid rgba(224, 224, 224, 0.2);
    height: 100px;
    width: 100px;
    flex-basis: 100px;
    @apply p-6 flex items-center justify-around;
}