@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE STYLE */

body {
   background: #1B2125;
   color: #FFFFFF;
   font-family: 'Poppins', Arial, Helvetica, sans-serif;
   @apply font-light;
   overflow-x: hidden;
}
html {
   scroll-behavior: smooth;
}