@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE STYLE */

body {
   background: #1B2125;
   color: #FFFFFF;
   font-family: 'Poppins', Arial, Helvetica, sans-serif;
   @apply font-light;
   overflow-x: hidden;
}
html {
   scroll-behavior: smooth;
   overflow-x: hidden;
}
footer {
   background-color: #2C3235;
}
*:after, *:before {
   display: none;
}


.home {
   opacity: 0;
   transition: opacity 0.7s;
}
.list-crea {
   opacity: 0;
   transition: opacity 0.7s;
}
#creation {
   opacity: 0;
   transition: opacity 0.7s;
}

.opa {
   opacity: 1 !important;
}
.opa-none {
   opacity: 0 !important;
}